Repository singlestore-labs/spaces-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: nb-check, nb-meta-check, lesson-check, author-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      #   -   id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      #   -   id: name-tests-test
      - id: double-quote-string-fixer
      - id: requirements-txt-fixer
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.12.0]
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.6.0
    hooks:
      - id: reorder-python-imports
        args: [--py36-plus]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.1
    hooks:
      - id: add-trailing-comma
        args: [--py36-plus]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
      - id: setup-cfg-fmt
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: nb-check
        name: nb-check
        entry: resources/nb-check.py
        language: system
        files: \.ipynb$
        exclude: notebooks/notebook-style-guide/notebook.ipynb
      - id: nb-meta-check
        name: nb-meta-check
        entry: resources/nb-meta-check.py
        language: system
        files: notebooks/.*/meta\.toml
      - id: lesson-check
        name: lesson-check
        entry: resources/lesson-check.py
        language: system
        files: lessons/.*\.toml
      - id: author-check
        name: author-check
        entry: resources/author-check.py
        language: system
        files: authors/.*\.toml

Update notebook.ipynb
  notebooks/load-data-json/notebook.ipynb
Due: nb-check

Update notebook.ipynb
  notebooks/load-data-kakfa/notebook.ipynb
Due: nb-check

Load Data Notebooks modified with comments (#118)
  notebooks/load-csv-data-s3/notebook.ipynb
  notebooks/load-data-json/notebook.ipynb
  notebooks/load-data-kakfa/notebook.ipynb
Due: nb-check

Fix IDs in notebook cells
  notebooks/how-to-build-llm-apps-that-can-see-hear-speak/notebook.ipynb
  resources/nb-check.py
Due: nb-check

Fix IDs
  notebooks/load-csv-data-s3-placeholder/notebook.ipynb
Due: nb-check

Load Data Notebooks modified with comments
  notebooks/load-csv-data-s3/notebook.ipynb
  notebooks/load-data-json/notebook.ipynb
  notebooks/load-data-kakfa/notebook.ipynb
Due: nb-check

Load Data Notebooks modified with comments (#119)
  notebooks/load-csv-data-s3/notebook.ipynb
  notebooks/load-data-json/notebook.ipynb
  notebooks/load-data-kakfa/notebook.ipynb
Due: nb-check

Notebooks modified with comments
  notebooks/basic-query-examples/notebook.ipynb
  notebooks/getting-started-with-singlestore/notebook.ipynb
  notebooks/hybrid-search/notebook.ipynb
  notebooks/image-matching-with-sql/notebook.ipynb
  notebooks/load-json-files-s3/notebook.ipynb
  notebooks/load-s3-files-into-shared-tier/notebook.ipynb
  notebooks/resume-evaluator/notebook.ipynb
  notebooks/semantic-search-with-openai-qa/notebook.ipynb
  notebooks/semantic-visualization-and-vector-datatype/notebook.ipynb
  notebooks/similarity-search-on-vector-data/notebook.ipynb
Due: nb-check

Notebooks modified with comments
  notebooks/load-json-files-s3/notebook.ipynb
Due: nb-check

Notebooks modified with comments
  notebooks/similarity-search-on-vector-data/notebook.ipynb
Due: nb-check

Notebooks modified with comments (#120)
  notebooks/basic-query-examples/notebook.ipynb
  notebooks/getting-started-with-singlestore/notebook.ipynb
  notebooks/hybrid-search/notebook.ipynb
  notebooks/image-matching-with-sql/notebook.ipynb
  notebooks/load-s3-files-into-shared-tier/notebook.ipynb
  notebooks/resume-evaluator/notebook.ipynb
  notebooks/semantic-search-with-openai-qa/notebook.ipynb
  notebooks/semantic-visualization-and-vector-datatype/notebook.ipynb
  notebooks/similarity-search-on-vector-data/notebook.ipynb
Due: nb-check

add(notebook): cloud functions template
  notebooks/cloud-functions-template/meta.toml
  notebooks/cloud-functions-template/notebook.ipynb
Due: nb-check, nb-meta-check

add(notebook): create dash app template
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/meta.toml
  notebooks/create-dash-app/notebook.ipynb
Due: nb-check, nb-meta-check

fix(notebook): spelling
  notebooks/create-dash-app/meta.toml
Due: nb-meta-check

fix(notebook): remove trailing lines
  notebooks/cloud-functions-template/meta.toml
  notebooks/create-dash-app/meta.toml
Due: nb-meta-check

fix(notebook): seperate code in lines
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/notebook.ipynb
Due: nb-check

fix(notebook): run pre-commit hook
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/notebook.ipynb
  resources/author-check.py
  resources/lesson-check.py
  resources/nb-check.py
  resources/nb-meta-check.py
  resources/package-samples.py
Due: nb-check

fix(resources): run pre-commit to fix issues
  resources/author-check.py
  resources/lesson-check.py
  resources/nb-check.py
  resources/nb-meta-check.py
  resources/package-samples.py
Due: none

add(notebook): remove metadata from code cells
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/notebook.ipynb
Due: nb-check

revert notebook
  notebooks/basic-query-examples/notebook.ipynb
  notebooks/getting-started-with-singlestore/notebook.ipynb
  notebooks/hybrid-search/notebook.ipynb
  notebooks/image-matching-with-sql/notebook.ipynb
  notebooks/load-s3-files-into-shared-tier/notebook.ipynb
  notebooks/resume-evaluator/notebook.ipynb
  notebooks/semantic-search-with-openai-qa/notebook.ipynb
  notebooks/semantic-visualization-and-vector-datatype/notebook.ipynb
  notebooks/similarity-search-on-vector-data/notebook.ipynb
Due: nb-check

Revert "add(notebook): remove metadata from code cells"
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/notebook.ipynb
Due: nb-check

Revert "add(notebook): remove metadata from code cells" (#123)
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/notebook.ipynb
Due: nb-check

Add pre-commit check for notebook metadata
  CONTRIBUTING.md
  resources/nb-check.py
Due: none

Add files via upload
  common/images/singlestore-jupyter.png
Due: none

Modified notebook with feedback
  notebooks/load-csv-data-s3-placeholder/notebook.ipynb
Due: nb-check

Added Kafka Notebook
  notebooks/load-kafka-template/meta.toml
  notebooks/load-kafka-template/notebook.ipynb
Due: nb-check, nb-meta-check

Removed additional sql
  notebooks/load-csv-data-s3-placeholder/notebook.ipynb
Due: nb-check

Update notebook.ipynb
  notebooks/load-kafka-template/notebook.ipynb
Due: nb-check

Modified notebook with feedback (#125)
  notebooks/load-kafka-template/meta.toml
  notebooks/load-kafka-template/notebook.ipynb
Due: nb-check, nb-meta-check

Update notebook to support the new Fusion SQL stage resources syntax
  notebooks/managing-stage-files-with-fusion-sql/notebook.ipynb
Due: nb-check

Update notebook to support the new Fusion SQL stage resources syntax (#126)
  notebooks/managing-stage-files-with-fusion-sql/notebook.ipynb
Due: nb-check

Add a notebook to demonstrate how to run notebooks from another notebook
  notebooks/executing-notebooks-from-another-notebook-with-fusion-sql/meta.toml
  notebooks/executing-notebooks-from-another-notebook-with-fusion-sql/notebook.ipynb
Due: nb-check, nb-meta-check

fix typo
  notebooks/executing-notebooks-from-another-notebook-with-fusion-sql/notebook.ipynb
Due: nb-check

rename occurrences of execute/executing to run/running
  notebooks/running-notebooks-from-another-notebook-with-fusion-sql/meta.toml
  notebooks/running-notebooks-from-another-notebook-with-fusion-sql/notebook.ipynb
Due: nb-check, nb-meta-check

Modified kafka notebook
  notebooks/load-kafka-template/notebook.ipynb
Due: nb-check

Modified kafka notebook (#128)
  notebooks/load-kafka-template/notebook.ipynb
Due: nb-check
