Repository singlestore-labs/spaces-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: nb-check, nb-meta-check, lesson-check, author-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      #   -   id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      #   -   id: name-tests-test
      - id: double-quote-string-fixer
      - id: requirements-txt-fixer
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.12.0]
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.6.0
    hooks:
      - id: reorder-python-imports
        args: [--py36-plus]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.1
    hooks:
      - id: add-trailing-comma
        args: [--py36-plus]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
      - id: setup-cfg-fmt
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: nb-check
        name: nb-check
        entry: resources/nb-check.py
        language: python
        files: \.ipynb$
        exclude: notebooks/notebook-style-guide/notebook.ipynb
        additional_dependencies: [nbformat==5.10.4]
      - id: nb-meta-check
        name: nb-meta-check
        entry: resources/nb-meta-check.py
        language: system
        files: notebooks/.*/meta\.toml
      - id: lesson-check
        name: lesson-check
        entry: resources/lesson-check.py
        language: system
        files: lessons/.*\.toml
      - id: author-check
        name: author-check
        entry: resources/author-check.py
        language: system
        files: authors/.*\.toml

update notebook to match new API spec
  notebooks/migrate-virtual-workspace/notebook.ipynb
  notebooks/notebook-style-guide/notebook.ipynb
Due: nb-check

update warnings
  notebooks/migrate-virtual-workspace/notebook.ipynb
Due: nb-check

udate mng api and comments
  notebooks/migrate-virtual-workspace/notebook.ipynb
Due: nb-check

minor fixes
  notebooks/migrate-virtual-workspace/notebook.ipynb
Due: nb-check

feat: add notebook to upgrade shared tier (#136)
  notebooks/migrate-virtual-workspace/meta.toml
  notebooks/migrate-virtual-workspace/notebook.ipynb
  notebooks/notebook-style-guide/notebook.ipynb
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check, nb-meta-check

fix notebook description
  notebooks/load-csv-data-s3/meta.toml
  notebooks/load-data-json/meta.toml
  notebooks/load-data-kakfa/meta.toml
  notebooks/migrate-virtual-workspace/meta.toml
  notebooks/singlestore-now-2024/meta.toml
Due: nb-meta-check

fix commit hooks
  notebooks/singlestore-now-2024/notebook.ipynb
Due: nb-check

fix notebook description (#138)
  notebooks/load-csv-data-s3/meta.toml
  notebooks/load-data-json/meta.toml
  notebooks/load-data-kakfa/meta.toml
  notebooks/migrate-virtual-workspace/meta.toml
  notebooks/singlestore-now-2024/meta.toml
  notebooks/singlestore-now-2024/notebook.ipynb
Due: nb-check, nb-meta-check

remove SingleStore now 2024 notebook
  notebooks/singlestore-now-2024/meta.toml
  notebooks/singlestore-now-2024/notebook.ipynb
Due: nb-check, nb-meta-check

remove SingleStore now 2024 notebook (#140)
  notebooks/singlestore-now-2024/meta.toml
  notebooks/singlestore-now-2024/notebook.ipynb
Due: nb-check, nb-meta-check

Fix Python UDFs template by removing 'replace_existing' arg
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

Fix Python UDFs template by removing 'replace_existing' arg (#143)
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

add(notebooks): ai functions usage example
  .pre-commit-config.yaml
  notebooks/getting-started-with-ai-functions/meta.toml
  notebooks/getting-started-with-ai-functions/notebook.ipynb
Due: nb-check, nb-meta-check

add(notebooks): ai functions usage example (#144)
  .pre-commit-config.yaml
  notebooks/getting-started-with-ai-functions/meta.toml
  notebooks/getting-started-with-ai-functions/notebook.ipynb
Due: nb-check, nb-meta-check

add(notebooks): ml functions example and fix ai functions
  notebooks/getting-started-with-ai-functions/notebook.ipynb
  notebooks/getting-started-with-ml-functions/meta.toml
  notebooks/getting-started-with-ml-functions/notebook.ipynb
Due: nb-check, nb-meta-check

update(resource): nb-check add printlogs
  resources/nb-check.py
Due: none

fix(notebook): kafka notebook cell id
  notebooks/load-kafka-template/notebook.ipynb
Due: nb-check

fix(notebook): remove commented code
  notebooks/getting-started-with-ml-functions/notebook.ipynb
Due: nb-check

add(notebooks): ml functions example and fix ai functions syntax (#145)
  notebooks/getting-started-with-ai-functions/notebook.ipynb
  notebooks/getting-started-with-ml-functions/meta.toml
  notebooks/getting-started-with-ml-functions/notebook.ipynb
  notebooks/load-kafka-template/notebook.ipynb
  resources/nb-check.py
Due: nb-check, nb-meta-check

fix(notebook): suggestions after test usage
  notebooks/getting-started-with-ai-functions/notebook.ipynb
  notebooks/getting-started-with-ml-functions/notebook.ipynb
Due: nb-check

fix(notebook): suggestions after ML sync
  notebooks/getting-started-with-ai-functions/notebook.ipynb
  notebooks/getting-started-with-ml-functions/notebook.ipynb
Due: nb-check

fix(notebook): suggestions after test usage (#146)
  notebooks/getting-started-with-ai-functions/notebook.ipynb
  notebooks/getting-started-with-ml-functions/notebook.ipynb
Due: nb-check

Fix pip install call
  notebooks/optimize-performance-with-tpch-100/notebook.ipynb
Due: nb-check

Fix pip install call (#148)
  notebooks/optimize-performance-with-tpch-100/notebook.ipynb
Due: nb-check

add(image) : udf
  notebooks/python-image-udf/meta.toml
  notebooks/python-image-udf/notebook.ipynb
Due: nb-check, nb-meta-check

update flake 8 pre-commit version
  .pre-commit-config.yaml
  notebooks/ml-function-anomaly-detect/meta.toml
  notebooks/ml-function-anomaly-detect/notebook.ipynb
  notebooks/ml-function-classify/meta.toml
  notebooks/ml-function-classify/notebook.ipynb
  notebooks/python-image-udf/notebook.ipynb
Due: nb-check, nb-meta-check

add NITs and suggestions
  notebooks/ml-function-anomaly-detect/notebook.ipynb
  notebooks/ml-function-classify/notebook.ipynb
  notebooks/python-image-udf/notebook.ipynb
Due: nb-check

update ml classify to improve reruns
  notebooks/ml-function-classify/notebook.ipynb
Due: nb-check

Add SingleStore AI Bootcamp : AI/ML Enablement template notebooks (#149)
  .pre-commit-config.yaml
  notebooks/ml-function-anomaly-detect/meta.toml
  notebooks/ml-function-anomaly-detect/notebook.ipynb
  notebooks/ml-function-classify/meta.toml
  notebooks/ml-function-classify/notebook.ipynb
  notebooks/python-image-udf/meta.toml
  notebooks/python-image-udf/notebook.ipynb
Due: nb-check, nb-meta-check

Add PDF upload and access instructions
  notebooks/ingest-pdfs-with-unstructured/notebook.ipynb
Due: nb-check

use pdfplumber
  notebooks/ingest-pdfs-with-pdfplumber/meta.toml
  notebooks/ingest-pdfs-with-pdfplumber/notebook.ipynb
  notebooks/ingest-pdfs-with-unstructured/meta.toml
  notebooks/ingest-pdfs-with-unstructured/notebook.ipynb
Due: nb-check, nb-meta-check

Add PDF upload and access instructions (#151)
  notebooks/ingest-pdfs-with-pdfplumber/meta.toml
  notebooks/ingest-pdfs-with-pdfplumber/notebook.ipynb
  notebooks/ingest-pdfs-with-unstructured/meta.toml
  notebooks/ingest-pdfs-with-unstructured/notebook.ipynb
Due: nb-check, nb-meta-check

fix two cells
  notebooks/ingest-pdfs-with-pdfplumber/notebook.ipynb
Due: nb-check

add cell
  notebooks/ingest-pdfs-with-pdfplumber/notebook.ipynb
Due: nb-check

address comments
  notebooks/ingest-pdfs-with-pdfplumber/notebook.ipynb
Due: nb-check

addres comments
  notebooks/ingest-pdfs-with-pdfplumber/notebook.ipynb
Due: nb-check

Fix some cells in Ingest pdf with PDF Plumber notebook (#152)
  notebooks/ingest-pdfs-with-pdfplumber/notebook.ipynb
Due: nb-check

add a simplified python udf template
  notebooks/python-udf-ml-example/meta.toml
  notebooks/python-udf-ml-example/notebook.ipynb
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check, nb-meta-check
