Repository singlestore-labs/spaces-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: nb-check, nb-meta-check, lesson-check, author-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      #   -   id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      #   -   id: name-tests-test
      - id: double-quote-string-fixer
      - id: requirements-txt-fixer
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.12.0]
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.6.0
    hooks:
      - id: reorder-python-imports
        args: [--py36-plus]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.1
    hooks:
      - id: add-trailing-comma
        args: [--py36-plus]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
      - id: setup-cfg-fmt
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: nb-check
        name: nb-check
        entry: resources/nb-check.py
        language: system
        files: \.ipynb$
        exclude: notebooks/notebook-style-guide/notebook.ipynb
      - id: nb-meta-check
        name: nb-meta-check
        entry: resources/nb-meta-check.py
        language: system
        files: notebooks/.*/meta\.toml
      - id: lesson-check
        name: lesson-check
        entry: resources/lesson-check.py
        language: system
        files: lessons/.*\.toml
      - id: author-check
        name: author-check
        entry: resources/author-check.py
        language: system
        files: authors/.*\.toml

Create notebook.ipynb
  notebooks/getting-started-with-singlestore/notebook.ipynb
Due: nb-check

Update meta.toml
  notebooks/getting-started-with-singlestore/meta.toml
Due: nb-meta-check

Update notebook.ipynb
  notebooks/getting-started-with-singlestore/notebook.ipynb
Due: nb-check

Getting Started with SingleStore (#110)
  notebooks/getting-started-with-singlestore/meta.toml
  notebooks/getting-started-with-singlestore/notebook.ipynb
Due: nb-check, nb-meta-check

Changing to highlight wait time for pipeline
  notebooks/load-csv-data-s3/notebook.ipynb
Due: nb-check

Modified notebook to load data Faster
  notebooks/load-csv-data-s3/notebook.ipynb
Due: nb-check

Error fix
  notebooks/building-a-multi-agent-ai-app-with-autogen/notebook.ipynb
Due: nb-check

Update notebook.ipynb
  notebooks/load-csv-data-s3/notebook.ipynb
Due: nb-check

Changing to highlight wait time for pipeline in the load notebook (#111)
  notebooks/load-csv-data-s3/notebook.ipynb
Due: nb-check

Modified notebook to load data Faster (#112)
  notebooks/load-csv-data-s3/notebook.ipynb
Due: nb-check

Update notebook.ipynb
  notebooks/building-a-multi-agent-ai-app-with-autogen/notebook.ipynb
Due: nb-check

Error fix (#113)
  notebooks/building-a-multi-agent-ai-app-with-autogen/notebook.ipynb
Due: nb-check

Create meta.toml
  notebooks/basic-queries-examples/meta.toml
Due: nb-meta-check

Update meta.toml
  notebooks/basic-queries-examples/meta.toml
Due: nb-meta-check

Delete notebooks/basic-queries-examples directory
  notebooks/basic-queries-examples/meta.toml
Due: nb-meta-check

Create meta.toml
  notebooks/basic-query-examples/meta.toml
Due: nb-meta-check

Add files via upload
  notebooks/basic-query-examples/meta.toml
Due: nb-meta-check

Add files via upload
  notebooks/basic-query-examples/notebook.ipynb
Due: nb-check

Added basic query examples notebook
  notebooks/basic-query-examples/notebook.ipynb
Due: nb-check

Adding Basic Query Examples Notebook (#114)
  notebooks/basic-query-examples/meta.toml
  notebooks/basic-query-examples/notebook.ipynb
Due: nb-check, nb-meta-check

Added S3 placeholde notebook
  notebooks/load-csv-data-s3-placeholder/meta.toml
  notebooks/load-csv-data-s3-placeholder/notebook.ipynb
  notebooks/load-csv-data-s3/notebook.ipynb
Due: nb-check, nb-meta-check

Added variables
  notebooks/load-csv-data-s3-placeholder/notebook.ipynb
Due: nb-check

Added S3 placeholder notebook (#115)
  notebooks/load-csv-data-s3-placeholder/meta.toml
  notebooks/load-csv-data-s3-placeholder/notebook.ipynb
  notebooks/load-csv-data-s3/notebook.ipynb
Due: nb-check, nb-meta-check

Notebook added for Singlestore Now Raffle
  notebooks/singlestore-now-2024/meta.toml
  notebooks/singlestore-now-2024/notebook.ipynb
Due: nb-check, nb-meta-check

Notebook added for Singlestore Now Raffle (#116)
  notebooks/singlestore-now-2024/meta.toml
  notebooks/singlestore-now-2024/notebook.ipynb
Due: nb-check, nb-meta-check

Notebook modified for Singlestore Now Raffle
  notebooks/singlestore-now-2024/notebook.ipynb
Due: nb-check

Notebook modified for Singlestore Now Raffle (#117)
  notebooks/singlestore-now-2024/notebook.ipynb
Due: nb-check

Load Data Notebooks modified with comments
  notebooks/load-csv-data-s3/notebook.ipynb
  notebooks/load-data-json/notebook.ipynb
  notebooks/load-data-kakfa/notebook.ipynb
Due: nb-check

Update notebook.ipynb
  notebooks/load-data-json/notebook.ipynb
Due: nb-check

Update notebook.ipynb
  notebooks/load-data-kakfa/notebook.ipynb
Due: nb-check
