Repository singlestore-labs/spaces-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: nb-check, toml-check, lesson-check

nb-check:
  name: nb-check
  entry: resources/nb-check.py
  language: system

toml-check:
  name: toml-check
  entry: resources/toml-check.py
  language: system

lesson-check:
  name: lesson-check
  entry: resources/lesson-check.py
  language: system

make lesson check executable
  resources/lesson-check.py
Due: none

prevent double action run (#94)
  .github/workflows/pre-commit.yml
Due: none

Add lessons (#93)
  .pre-commit-config.yaml
  lessons/it-threat-detection.toml
  resources/lesson-check.py
Due: lesson-check

var name
  resources/package-samples.py
Due: none

use helper function
  resources/package-samples.py
Due: none

new release on every commit to master
  .github/workflows/release-samples.yml
Due: none

single quotes
  resources/package-samples.py
Due: none

make code cleaner
  resources/package-samples.py
Due: none

comment
  resources/package-samples.py
Due: none

update uploaded files
  .github/workflows/release-samples.yml
Due: none

remove quotes
  .github/workflows/release-samples.yml
Due: none

trailing commas
  resources/package-samples.py
Due: none

do not delete output of notebook
  resources/nb-check.py
Due: none

update script to allow full directory to be copied
  .github/workflows/release-samples.yml
  resources/package-samples.py
Due: none

add strip outputs option
  resources/package-samples.py
Due: none

fix for comma separated list
  resources/package-samples.py
Due: none

do not publish sample notebook
  .github/workflows/release-samples.yml
Due: none

change release name
  .github/workflows/release-samples.yml
Due: none

lint
  resources/package-samples.py
Due: none

Update release process (#92)
  .github/workflows/release-samples.yml
  resources/nb-check.py
  resources/package-samples.py
Due: none

Fix duplicate ID
  .github/workflows/release-samples.yml
Due: none

Add tag requirement
  .github/workflows/release-samples.yml
Due: none

use datetime as tag for release
  .github/workflows/release-samples.yml
Due: none

prepend with v
  .github/workflows/release-samples.yml
Due: none

fix syntax
  .github/workflows/release-samples.yml
Due: none

auto-tag
  .github/workflows/release-samples.yml
Due: none

Use datetime as tag for release (#95)
  .github/workflows/release-samples.yml
Due: none

Change tag format
  .github/workflows/release-samples.yml
Due: none

strip outputs
  resources/nb-check.py
Due: none

Vector Search with Kai
  notebooks/vector-search-with-kai/meta.toml
  notebooks/vector-search-with-kai/notebook.ipynb
Due: nb-check, toml-check

Vector Search with Kai - fixing precommit
  notebooks/vector-search-with-kai/meta.toml
  notebooks/vector-search-with-kai/notebook.ipynb
Due: nb-check, toml-check

Minor formatting changes
  notebooks/vector-search-with-kai/notebook.ipynb
Due: nb-check

Update notebook.ipynb
  notebooks/vector-search-with-kai/notebook.ipynb
Due: nb-check

Vector Search with Kai (#97)
  notebooks/vector-search-with-kai/meta.toml
  notebooks/vector-search-with-kai/notebook.ipynb
Due: nb-check, toml-check

Remove extra v
  .github/workflows/release-samples.yml
Due: none

Fix tag names
  .github/workflows/release-samples.yml
Due: none

Add difficulty meta to notebooks
  CONTRIBUTING.md
  notebooks/atlas-and-kai/meta.toml
  notebooks/backup-database-s3/meta.toml
  notebooks/building-a-multi-agent-ai-app-with-autogen/meta.toml
  notebooks/confluent-cloud-integration/meta.toml
  notebooks/getting-started-with-dataframes/meta.toml
  notebooks/getting-started-with-fusion-sql/meta.toml
  notebooks/getting-started-with-notebooks/meta.toml
  notebooks/how-to-build-llm-apps-that-can-see-hear-speak/meta.toml
  notebooks/hybrid-full-text-vector-search/meta.toml
  notebooks/hybrid-search/meta.toml
  notebooks/image-matching-with-sql/meta.toml
  notebooks/integrating-with-pandas/meta.toml
  notebooks/kebab-case/meta.toml
  notebooks/load-json-files-s3/meta.toml
  notebooks/managing-stage-files-with-fusion-sql/meta.toml
  notebooks/movie-recommendation/meta.toml
  notebooks/network-intrusion-detection-part-1/meta.toml
  notebooks/network-intrusion-detection-part-2/meta.toml
  notebooks/network-intrusion-detection-part-3/meta.toml
  notebooks/notebook-basics/meta.toml
  notebooks/optimize-performance-with-tpch-100/meta.toml
  notebooks/performance-troubleshooting/meta.toml
  notebooks/rag-with-bedrock/meta.toml
  notebooks/real-time-recommendation-engine/meta.toml
  notebooks/restore-database-from-s3/meta.toml
  notebooks/resume-evaluator/meta.toml
  notebooks/searching-all-of-wikipedia/meta.toml
  notebooks/semantic-search-with-hugging-face/meta.toml
  notebooks/semantic-search-with-openai-embedding-creation/meta.toml
  notebooks/semantic-search-with-openai-qa/meta.toml
  notebooks/semantic-visualization-and-vector-datatype/meta.toml
  notebooks/similarity-search-on-vector-data/meta.toml
  notebooks/vector-search-with-kai/meta.toml
  notebooks/working-with-vector-data/meta.toml
  resources/nb-check.py
Due: toml-check

fix typo
  notebooks/atlas-and-kai/meta.toml
Due: toml-check

Path conditions:
  nb-check: any of: \.ipynb$, but not: notebooks/notebook-style-guide/notebook.ipynb
  toml-check: any of: \.toml$, but not: lessons/.*|^meta.toml
  lesson-check: any of: lessons/.*\.toml
