Repository singlestore-labs/spaces-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: nb-check, nb-meta-check, lesson-check, author-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      #   -   id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      #   -   id: name-tests-test
      - id: double-quote-string-fixer
      - id: requirements-txt-fixer
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.12.0]
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.6.0
    hooks:
      - id: reorder-python-imports
        args: [--py36-plus]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.1
    hooks:
      - id: add-trailing-comma
        args: [--py36-plus]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
      - id: setup-cfg-fmt
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: nb-check
        name: nb-check
        entry: resources/nb-check.py
        language: python
        files: \.ipynb$
        exclude: notebooks/notebook-style-guide/notebook.ipynb
        additional_dependencies: [nbformat==5.10.4]
      - id: nb-meta-check
        name: nb-meta-check
        entry: resources/nb-meta-check.py
        language: system
        files: notebooks/.*/meta\.toml
      - id: lesson-check
        name: lesson-check
        entry: resources/lesson-check.py
        language: system
        files: lessons/.*\.toml
      - id: author-check
        name: author-check
        entry: resources/author-check.py
        language: system
        files: authors/.*\.toml

fix: address cursorbot review comments on sequences notebook
  notebooks/marketing-transactions-sequences/notebook.ipynb
Due: nb-check

fix: resolve SingleStore columnstore/unique-key constraints found in local testing
  notebooks/marketing-transactions-sequences/notebook.ipynb
Due: nb-check

feat: add load-time callout with per-table estimates and SF10 option
  notebooks/optimize-performance-with-tpch-100/notebook.ipynb
Due: nb-check

refact: improve learner engagement and narrative flow
  notebooks/marketing-transactions-sequences/notebook.ipynb
Due: nb-check

feat: add tune-a-real-time-ad-platform notebook
  notebooks/tune-a-real-time-ad-platform/meta.toml
  notebooks/tune-a-real-time-ad-platform/notebook.ipynb
Due: nb-check, nb-meta-check

fix: give the tpch-100 video cell a unique id
  notebooks/optimize-performance-with-tpch-100/notebook.ipynb
Due: nb-check

refact: update sequences notebook tags to new tagging convention
  notebooks/marketing-transactions-sequences/meta.toml
Due: nb-meta-check

feat: add modern-data-pipelines notebook
  notebooks/modern-data-pipelines/meta.toml
  notebooks/modern-data-pipelines/notebook.ipynb
Due: nb-check, nb-meta-check

Update notebook.ipynb
  notebooks/Develop Safely with Database Branching/notebook.ipynb
Due: nb-check

Clean up notebook output for better readability
  notebooks/Develop Safely with Database Branching/notebook.ipynb
Due: nb-check

Clear outputs in the notebook
  notebooks/Develop Safely with Database Branching/notebook.ipynb
Due: nb-check

Clean up notebook by removing output cells
  notebooks/Develop Safely with Database Branching/notebook.ipynb
Due: nb-check

fix: address cursorbot review comments
  notebooks/modern-data-pipelines/notebook.ipynb
Due: nb-check

fix: convert markdown tables to HTML in sequences notebook
  notebooks/marketing-transactions-sequences/notebook.ipynb
Due: nb-check

fix: use simple HTML table format for Spaces UI compatibility
  notebooks/marketing-transactions-sequences/notebook.ipynb
  notebooks/modern-data-pipelines/notebook.ipynb
Due: nb-check

Fix variable name from 'truncated' to 'deleted'
  notebooks/Develop Safely with Database Branching/notebook.ipynb
Due: nb-check

Create Protect and Recover Production Workloads
  notebooks/Protect and Recover Production Workloads
Due: none

Delete notebooks/Protect and Recover Production Workloads
  notebooks/Protect and Recover Production Workloads
Due: none

Create notebook.ipynb
  notebooks/Protect and Recover Production Workloads/notebook.ipynb
Due: nb-check

Create meta.toml
  notebooks/Protect and Recover Production Workloads/meta.toml
Due: nb-meta-check

Update meta.toml
  notebooks/Protect and Recover Production Workloads/meta.toml
Due: nb-meta-check

Rename meta.toml for database branching notebook
  notebooks/develop-safely-with-database-branching/meta.toml
Due: nb-meta-check

Create notebook for Database Branching tutorial
  notebooks/develop-safely-with-database-branching/notebook.ipynb
Due: nb-check

Delete notebooks/Develop Safely with Database Branching directory
  notebooks/Develop Safely with Database Branching/notebook.ipynb
Due: nb-check

Create test.png
  notebooks/protect-and-recover-production-workloads/images/test.png
Due: none

Add meta.toml for Protect and Recover Workloads
  notebooks/protect-and-recover-production-workloads/meta.toml
Due: nb-meta-check

Delete notebooks/Protect and Recover Production Workloads directory
  notebooks/Protect and Recover Production Workloads/meta.toml
  notebooks/Protect and Recover Production Workloads/notebook.ipynb
Due: nb-check, nb-meta-check

apply changes with images
  notebooks/protect-and-recover-production-workloads/images/configure-replication.png
  notebooks/protect-and-recover-production-workloads/images/fail-back-to-primary-region.png
  notebooks/protect-and-recover-production-workloads/images/failover-to-secondary-region.png
  notebooks/protect-and-recover-production-workloads/images/preprovision-resource-to-secondary-region.png
  notebooks/protect-and-recover-production-workloads/images/test.png
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

Update images in notebook for replication and failover
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

Change minimum tier from 'enterprise' to 'standard'
  notebooks/protect-and-recover-production-workloads/meta.toml
Due: nb-meta-check

Update notebook.ipynb
  notebooks/optimize-performance-with-tpch-100/notebook.ipynb
Due: nb-check

Change image sources to new repository paths
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

Clean up notebook by removing unnecessary empty line
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

Remove unnecessary markdown cell
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

Update notebook.ipynb
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

Update image sources in production workload notebook
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

Update image source in notebook for replication config
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

Update image sources in notebook for consistency
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check
