Repository singlestore-labs/spaces-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: nb-check, nb-meta-check, lesson-check, author-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      #   -   id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      #   -   id: name-tests-test
      - id: double-quote-string-fixer
      - id: requirements-txt-fixer
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.12.0]
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.6.0
    hooks:
      - id: reorder-python-imports
        args: [--py36-plus]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.1
    hooks:
      - id: add-trailing-comma
        args: [--py36-plus]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
      - id: setup-cfg-fmt
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: nb-check
        name: nb-check
        entry: resources/nb-check.py
        language: python
        files: \.ipynb$
        exclude: notebooks/notebook-style-guide/notebook.ipynb
        additional_dependencies: [nbformat==5.10.4]
      - id: nb-meta-check
        name: nb-meta-check
        entry: resources/nb-meta-check.py
        language: system
        files: notebooks/.*/meta\.toml
      - id: lesson-check
        name: lesson-check
        entry: resources/lesson-check.py
        language: system
        files: lessons/.*\.toml
      - id: author-check
        name: author-check
        entry: resources/author-check.py
        language: system
        files: authors/.*\.toml

Change image sources to new repository links
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

Clean up notebook by removing output cells
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

Add USE statement for martech_PITR database
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

Change database context from martech_PITR to martech
  notebooks/protect-and-recover-production-workloads/notebook.ipynb
Due: nb-check

fix: trim preview table to 6 columns to prevent cutoff in Spaces UI
  notebooks/marketing-transactions-sequences/notebook.ipynb
Due: nb-check

Update notebook.ipynb
  notebooks/optimize-performance-with-tpch-100/notebook.ipynb
Due: nb-check

add image
  notebooks/develop-safely-with-database-branching/images/database-branching.png
  notebooks/develop-safely-with-database-branching/notebook.ipynb
Due: nb-check

Add Enterprise in meta hook and update smartdr notebook to reflect this change
  notebooks/develop-safely-with-database-branching/notebook.ipynb
  notebooks/protect-and-recover-production-workloads/meta.toml
  resources/nb-check.py
  resources/nb-meta-check.py
Due: nb-check, nb-meta-check

Update workspace type from 'Enterprise' to 'Premium'
  resources/nb-check.py
Due: none

update image path for Database branching
  notebooks/develop-safely-with-database-branching/notebook.ipynb
Due: nb-check

Fix typo in title description of meta.toml
  notebooks/protect-and-recover-production-workloads/meta.toml
Due: nb-meta-check

refact: remove deprecated Kai (MongoDB API) section from SingleStore Fundamentals notebook
  notebooks/singlestore-cheat-sheet/notebook.ipynb
Due: nb-check

Remove vector-search-with-kai notebook
  notebooks/vector-search-with-kai/meta.toml
  notebooks/vector-search-with-kai/notebook.ipynb
Due: nb-check, nb-meta-check

Remove atlas-and-kai notebook
  meta.toml
  notebooks/atlas-and-kai/images/in-app-analytics.png
  notebooks/atlas-and-kai/images/mongo-db-singlestore.png
  notebooks/atlas-and-kai/images/mongo-db-singlestoredb.png
  notebooks/atlas-and-kai/images/mongo-enabled-workspace.png
  notebooks/atlas-and-kai/images/select-workspace-and-database.png
  notebooks/atlas-and-kai/meta.toml
  notebooks/atlas-and-kai/notebook.ipynb
Due: nb-check, nb-meta-check

Add Operationalize Integrations with Flow and Connectors notebook
  notebooks/operationalize-integrations-with-flow/meta.toml
  notebooks/operationalize-integrations-with-flow/notebook.ipynb
Due: nb-check, nb-meta-check

feat: add YouTube video embeds and update authors to Engineering Team
  notebooks/confluent-cloud-integration/notebook.ipynb
  notebooks/load-csv-data-s3-placeholder/meta.toml
  notebooks/load-csv-data-s3-placeholder/notebook.ipynb
  notebooks/singlestore-cheat-sheet/meta.toml
  notebooks/singlestore-cheat-sheet/notebook.ipynb
Due: nb-check, nb-meta-check

refact: remove Kai from lesson_areas to drop deprecated filter
  notebooks/unified-data-analysis-sql-nosql-kai/meta.toml
Due: nb-meta-check

feat: add scale-read-workloads-with-smart-attach notebook
  notebooks/scale-read-workloads-with-smart-attach/meta.toml
  notebooks/scale-read-workloads-with-smart-attach/notebook.ipynb
Due: nb-check, nb-meta-check

Add IT Threat Detection with Vector Search notebook
  notebooks/it-threat-detection/meta.toml
  notebooks/it-threat-detection/notebook.ipynb
Due: nb-check, nb-meta-check
