Repository singlestore-labs/spaces-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: nb-check, nb-meta-check, lesson-check, author-check

nb-check:
  name: nb-check
  entry: resources/nb-check.py
  language: python
  additional_dependencies:
  - nbformat==5.10.4

nb-meta-check:
  name: nb-meta-check
  entry: resources/nb-meta-check.py
  language: system

lesson-check:
  name: lesson-check
  entry: resources/lesson-check.py
  language: system

author-check:
  name: author-check
  entry: resources/author-check.py
  language: system

Update torch version
  .github/workflows/release-samples.yml
  notebooks/semantic-search-with-hugging-face/notebook.ipynb
Due: nb-check

Pin dependencies
  notebooks/launch-open-source-apps-with-langchain/notebook.ipynb
Due: nb-check

Add code owners
  CODEOWNERS
Due: none

add template_app_type to notebook metadata
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/notebook.ipynb
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

add template_app_type to notebook metadata (#154)
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/notebook.ipynb
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

add logging
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/notebook.ipynb
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

fix lint
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/notebook.ipynb
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

remove connection string log
  notebooks/cloud-functions-template/notebook.ipynb
Due: nb-check

lint fix
  notebooks/cloud-functions-template/notebook.ipynb
Due: nb-check

dash app notebook
  notebooks/create-dash-app/notebook.ipynb
Due: nb-check

chore: add logging to template notebook apps to enable live logs (#155)
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/notebook.ipynb
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

add python UDF TVF example
  notebooks/table-valued-functions/meta.toml
  notebooks/table-valued-functions/notebook.ipynb
Due: nb-check, nb-meta-check

update Python UDF TVF example to use logging and return warnings
  notebooks/table-valued-functions/notebook.ipynb
Due: nb-check

account for zero row edge case for schema consistency in tvfs
  notebooks/table-valued-functions/notebook.ipynb
Due: nb-check

retrieve column name from fields automatically in tvfs
  notebooks/table-valued-functions/notebook.ipynb
Due: nb-check

Add python UDF TVF example notebook (#156)
  notebooks/table-valued-functions/meta.toml
  notebooks/table-valued-functions/notebook.ipynb
Due: nb-check, nb-meta-check

add bharathts07 as codeowner
  CODEOWNERS
Due: none

Add files via upload
  notebooks/Projections2.ipynb
Due: nb-check

Rename notebooks/Projections2.ipynb to notebooks/Projections/Projections.ipynb
  notebooks/Projections/Projections.ipynb
Due: nb-check

Add files via upload
  notebooks/Update Returning.ipynb
Due: nb-check

Rename notebooks/Update Returning.ipynb to notebooks/Update_Delete_Returning/Update_Delete_Returning.ipynb
  notebooks/Update Returning.ipynb
  notebooks/Update_Delete_Returning/Update_Delete_Returning.ipynb
Due: nb-check

add cloud function mcp example
  notebooks/mcp-cloud-function/meta.toml
  notebooks/mcp-cloud-function/notebook.ipynb
Due: nb-check, nb-meta-check

fix SQL injection issue
  notebooks/mcp-cloud-function/notebook.ipynb
Due: nb-check

fix param passing issue with run_query
  notebooks/mcp-cloud-function/notebook.ipynb
Due: nb-check

update db connection type and instruction to use std ws
  notebooks/mcp-cloud-function/meta.toml
  notebooks/mcp-cloud-function/notebook.ipynb
Due: nb-check, nb-meta-check

Update multiple notebooks (#150)
  notebooks/ml-function-classify/notebook.ipynb
Due: nb-check

Add cloud function mcp example (#162)
  notebooks/mcp-cloud-function/meta.toml
  notebooks/mcp-cloud-function/notebook.ipynb
Due: nb-check, nb-meta-check

Move the Fusion SQL notebooks to the CLUSTER grammar
  notebooks/getting-started-with-fusion-sql/meta.toml
  notebooks/getting-started-with-fusion-sql/notebook.ipynb
  notebooks/managing-stage-files-with-fusion-sql/notebook.ipynb
Due: nb-check, nb-meta-check

Tear down the cluster the Stage notebook creates
  notebooks/managing-stage-files-with-fusion-sql/notebook.ipynb
Due: nb-check

Create clusters in two statements and rename the provider clause
  notebooks/getting-started-with-fusion-sql/notebook.ipynb
  notebooks/managing-stage-files-with-fusion-sql/notebook.ipynb
Due: nb-check

Describe the cluster commands without naming absent syntax
  notebooks/getting-started-with-fusion-sql/notebook.ipynb
  notebooks/managing-stage-files-with-fusion-sql/notebook.ipynb
Due: nb-check

Connect with keyword arguments, not a connection string
  notebooks/getting-started-with-fusion-sql/notebook.ipynb
Due: nb-check

refact: user inputs now properly render for data
  notebooks/movie-recommendation/notebook.ipynb
Due: nb-check

chore: setting all execution counts to null
  notebooks/movie-recommendation/notebook.ipynb
Due: nb-check

chore: refact execution_count
  notebooks/movie-recommendation/notebook.ipynb
Due: nb-check

chore: pre-commit updates
  notebooks/movie-recommendation/notebook.ipynb
Due: nb-check

doc: adding codeowners
  CODEOWNERS
Due: none

chore: codeowners pre-commit
  CODEOWNERS
Due: none

Refactoring movie_recommendations jupyter notebook & update codeowners. (#165)
  CODEOWNERS
  notebooks/movie-recommendation/notebook.ipynb
Due: nb-check

Path conditions:
  nb-check: any of: \.ipynb$, but not: notebooks/notebook-style-guide/notebook.ipynb
  nb-meta-check: any of: notebooks/.*/meta\.toml
  lesson-check: any of: lessons/.*\.toml
  author-check: any of: authors/.*\.toml
