Repository singlestore-labs/spaces-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: nb-check, toml-check, lesson-check

nb-check:
  name: nb-check
  entry: resources/nb-check.py
  language: system

toml-check:
  name: toml-check
  entry: resources/toml-check.py
  language: system

lesson-check:
  name: lesson-check
  entry: resources/lesson-check.py
  language: system

allow image url, rename logo to image
  authors/singlestore.toml
  resources/author-check.py
Due: toml-check

add missing newline
  authors/singlestore.toml
Due: toml-check

lint fix
  resources/author-check.py
Due: none

Create load-CSV-data-S3
  notebooks/load-CSV-data-S3
Due: none

Added notebooks for Load data sections of UI
  notebooks/load-csv-data-s3/SalesDataAnalysis.ipynb
  notebooks/load-csv-data-s3/meta.toml
  notebooks/load-data-kakfa/LoadData_Kafka.ipynb
  notebooks/load-data-kakfa/meta.toml
Due: nb-check, toml-check

add outputs to working with vector data
  notebooks/working-with-vector-data/notebook.ipynb
  resources/nb-check.py
Due: nb-check

format notebook
  notebooks/working-with-vector-data/notebook.ipynb
  resources/nb-check.py
Due: nb-check

fix execution count
  notebooks/working-with-vector-data/notebook.ipynb
  resources/nb-check.py
Due: nb-check

Modified with suggested changes
  notebooks/load-CSV-data-S3
  notebooks/load-csv-data-s3/SalesDataAnalysis.ipynb
  notebooks/load-csv-data-s3/meta.toml
  notebooks/load-csv-data-s3/notebook.ipynb
  notebooks/load-data-kakfa/LoadData_Kafka.ipynb
  notebooks/load-data-kakfa/meta.toml
  notebooks/load-data-kakfa/notebook.ipynb
Due: nb-check, toml-check

Add outputs to first notebook (#104)
  notebooks/working-with-vector-data/notebook.ipynb
  resources/nb-check.py
Due: nb-check

Modified with suggested changes
  authors/chetan-thote.toml
  notebooks/load-csv-data-s3/meta.toml
  notebooks/load-csv-data-s3/notebook.ipynb
  notebooks/load-data-kakfa/meta.toml
  notebooks/load-data-kakfa/notebook.ipynb
Due: nb-check, toml-check

Remove extra header
  notebooks/load-csv-data-s3/notebook.ipynb
Due: nb-check

Added notebooks for load data (#103)
  authors/chetan-thote.toml
  notebooks/load-csv-data-s3/meta.toml
  notebooks/load-csv-data-s3/notebook.ipynb
  notebooks/load-data-kakfa/meta.toml
  notebooks/load-data-kakfa/notebook.ipynb
Due: nb-check, toml-check

fix IP address in the MySQL notebook
  notebooks/unified-data-analysis-sql-nosql-kai/notebook.ipynb
Due: nb-check

fix IP address in the MySQL notebook (#105)
  notebooks/unified-data-analysis-sql-nosql-kai/notebook.ipynb
Due: nb-check

Modified with suggested changes and changed Kai Credentials
  notebooks/load-csv-data-s3/notebook.ipynb
  notebooks/load-data-kakfa/notebook.ipynb
  notebooks/unified-data-analysis-sql-nosql-kai/notebook.ipynb
Due: nb-check

Modified with suggested changes and add JSON notebook
  notebooks/load-csv-data-s3/notebook.ipynb
  notebooks/load-data-json/meta.toml
  notebooks/load-data-json/notebook.ipynb
Due: nb-check, toml-check

Update notebook.ipynb
  notebooks/unified-data-analysis-sql-nosql-kai/notebook.ipynb
Due: nb-check

Update notebook.ipynb
  notebooks/load-csv-data-s3/notebook.ipynb
Due: nb-check

Modified with pre-commit checks
  notebooks/load-data-kakfa/notebook.ipynb
Due: nb-check

Modified Notebooks according to feedback (#106)
  notebooks/load-csv-data-s3/notebook.ipynb
  notebooks/load-data-json/meta.toml
  notebooks/load-data-json/notebook.ipynb
  notebooks/load-data-kakfa/notebook.ipynb
  notebooks/unified-data-analysis-sql-nosql-kai/notebook.ipynb
Due: nb-check, toml-check

Fix pip install
  notebooks/hybrid-search/notebook.ipynb
Due: nb-check

Fix pip install
  notebooks/launch-open-source-apps-with-langchain/notebook.ipynb
Due: nb-check

Revert change
  notebooks/launch-open-source-apps-with-langchain/notebook.ipynb
Due: nb-check

Tag installed packages
  notebooks/launch-open-source-apps-with-langchain/notebook.ipynb
Due: nb-check

Update pre-commit
  .github/workflows/pre-commit.yml
Due: none

Tag pip imports
  notebooks/semantic-search-with-hugging-face/notebook.ipynb
Due: nb-check

Fix mypy
  .pre-commit-config.yaml
Due: none

More pip install updates
  notebooks/evaluating-llms-with-uptrain/notebook.ipynb
  notebooks/how-to-build-llm-apps-that-can-see-hear-speak/notebook.ipynb
Due: nb-check

More pinned packages
  notebooks/how-to-build-llm-apps-that-can-see-hear-speak/notebook.ipynb
Due: nb-check

Add files via upload
  common/images/singlestore-banner.png
  common/images/singlestore-jupyter.png
  common/images/singlestore-logo-100.png
  common/images/singlestore-logo-grey.png
  common/images/singlestore-logo-grey.svg
  common/images/singlestore-logo.png
Due: none

Add files via upload
  common/images/singlestore-logo-vertical.png
Due: none

Tag installed packages (#107)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  notebooks/evaluating-llms-with-uptrain/notebook.ipynb
  notebooks/how-to-build-llm-apps-that-can-see-hear-speak/notebook.ipynb
  notebooks/launch-open-source-apps-with-langchain/notebook.ipynb
  notebooks/semantic-search-with-hugging-face/notebook.ipynb
Due: nb-check

Update logos
  common/images/singlestore-banner.png
  common/images/singlestore-full-logo-grey.png
  common/images/singlestore-full-logo-grey.svg
  common/images/singlestore-full-logo-vertical.png
  common/images/singlestore-jupyter.png
  common/images/singlestore-logo-100-grey.png
  common/images/singlestore-logo-100.png
  common/images/singlestore-logo-grey.png
  common/images/singlestore-logo.png
Due: none

Update logo
  README.md
Due: none

Make pip silent
  notebooks/how-to-build-llm-apps-that-can-see-hear-speak/notebook.ipynb
Due: nb-check

Create meta.toml
  notebooks/getting-started-with-singlestore/meta.toml
Due: toml-check

Path conditions:
  nb-check: any of: \.ipynb$, but not: notebooks/notebook-style-guide/notebook.ipynb
  toml-check: any of: \.toml$, but not: lessons/.*|^meta.toml
  lesson-check: any of: lessons/.*\.toml
