Repository singlestore-labs/spaces-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: nb-check, nb-meta-check, lesson-check, author-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      #   -   id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      #   -   id: name-tests-test
      - id: double-quote-string-fixer
      - id: requirements-txt-fixer
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.12.0]
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.6.0
    hooks:
      - id: reorder-python-imports
        args: [--py36-plus]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.1
    hooks:
      - id: add-trailing-comma
        args: [--py36-plus]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
      - id: setup-cfg-fmt
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: nb-check
        name: nb-check
        entry: resources/nb-check.py
        language: python
        files: \.ipynb$
        exclude: notebooks/notebook-style-guide/notebook.ipynb
        additional_dependencies: [nbformat==5.10.4]
      - id: nb-meta-check
        name: nb-meta-check
        entry: resources/nb-meta-check.py
        language: system
        files: notebooks/.*/meta\.toml
      - id: lesson-check
        name: lesson-check
        entry: resources/lesson-check.py
        language: system
        files: lessons/.*\.toml
      - id: author-check
        name: author-check
        entry: resources/author-check.py
        language: system
        files: authors/.*\.toml

add %run_shared example
  notebooks/running-notebooks-from-another-notebook-with-fusion-sql/notebook.ipynb
Due: nb-check

Add a notebook to demonstrate how to run notebooks from another notebook (#127)
  notebooks/running-notebooks-from-another-notebook-with-fusion-sql/meta.toml
  notebooks/running-notebooks-from-another-notebook-with-fusion-sql/notebook.ipynb
Due: nb-check, nb-meta-check

Modified kafka notebook
  notebooks/load-kafka-template/notebook.ipynb
Due: nb-check

Modified kafka notebook (#129)
  notebooks/load-kafka-template/notebook.ipynb
Due: nb-check

Modified kafka notebook
  notebooks/load-kafka-template/meta.toml
  notebooks/load-kafka-template/notebook.ipynb
Due: nb-check, nb-meta-check

Modified notebook to remove free tier message (#130)
  notebooks/load-kafka-template/meta.toml
  notebooks/load-kafka-template/notebook.ipynb
Due: nb-check, nb-meta-check

add singlestore cheat sheet
  authors/madhukar-kumar.toml
  notebooks/singlestore-cheat-sheet/meta.toml
  notebooks/singlestore-cheat-sheet/notebook.ipynb
Due: nb-check, nb-meta-check, author-check

prettify json
  notebooks/singlestore-cheat-sheet/notebook.ipynb
Due: nb-check

format notebook
  notebooks/singlestore-cheat-sheet/notebook.ipynb
Due: nb-check

Update meta.toml
  notebooks/singlestore-cheat-sheet/meta.toml
Due: nb-meta-check

Update notebook.ipynb
  notebooks/singlestore-cheat-sheet/notebook.ipynb
Due: nb-check

Add singlestore cheat sheet (#131)
  authors/madhukar-kumar.toml
  notebooks/singlestore-cheat-sheet/meta.toml
  notebooks/singlestore-cheat-sheet/notebook.ipynb
Due: nb-check, nb-meta-check, author-check

update cheat sheet
  notebooks/singlestore-cheat-sheet/notebook.ipynb
Due: nb-check

fix precommit hook
  notebooks/singlestore-cheat-sheet/notebook.ipynb
Due: nb-check

typo
  notebooks/singlestore-cheat-sheet/notebook.ipynb
Due: nb-check

Update SingleStore Cheat Sheet notebook (#132)
  notebooks/singlestore-cheat-sheet/notebook.ipynb
Due: nb-check

Remove unneeded install commands
  notebooks/getting-started-with-fusion-sql/notebook.ipynb
Due: nb-check

Nit to resume evaluator meta
  notebooks/resume-evaluator/meta.toml
Due: nb-meta-check

Nit to resume evaluator meta (#133)
  notebooks/resume-evaluator/meta.toml
Due: nb-meta-check

Fix langchain notebook
  notebooks/launch-open-source-apps-with-langchain/notebook.ipynb
Due: nb-check

add(notebooks): python udf template
  notebooks/python-udf-template/meta.toml
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check, nb-meta-check

add(author): entry for bharath
  authors/bharath-swamy.toml
Due: author-check

update(python-udf-template): author
  notebooks/python-udf-template/meta.toml
Due: nb-meta-check

Update notebook.ipynb
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

Update ubuntu
  .github/workflows/pre-commit.yml
Due: none

Update code to create tag
  .github/workflows/release-samples.yml
Due: none

update(python-udf-template): add directions on how to run the udf
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

Add python UDF template for Free shared Tier users (#134)
  authors/bharath-swamy.toml
  notebooks/python-udf-template/meta.toml
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check, nb-meta-check, author-check

update(python-udf-template): update message to indicate private preview status
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

update(python-udf-template): update message to indicate private preview status (#135)
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

feat: add notebook to upgrade shared tier
  notebooks/upgrade-virtual-workspace/meta.toml
  notebooks/upgrade-virtual-workspace/notebook.ipynb
Due: nb-check, nb-meta-check

Update nootebook
  notebooks/upgrade-virtual-workspace/meta.toml
  notebooks/upgrade-virtual-workspace/notebook.ipynb
Due: nb-check, nb-meta-check

update python-udf-template/notebook.ipynb according to commit hooks
  notebooks/python-udf-template/notebook.ipynb
Due: nb-check

apply comments
  notebooks/upgrade-virtual-workspace/meta.toml
  notebooks/upgrade-virtual-workspace/notebook.ipynb
Due: nb-check, nb-meta-check

Extend notebook to also migrate scheduled jobs
  notebooks/upgrade-virtual-workspace/meta.toml
  notebooks/upgrade-virtual-workspace/notebook.ipynb
Due: nb-check, nb-meta-check

rename notebook
  notebooks/migrate-virtual-workspace/meta.toml
  notebooks/migrate-virtual-workspace/notebook.ipynb
Due: nb-check, nb-meta-check

Migrate from pyautogen to ag2 library
  notebooks/building-a-multi-agent-ai-app-with-autogen/notebook.ipynb
Due: nb-check
