Repository singlestore-labs/spaces-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: nb-check, nb-meta-check, lesson-check, author-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      #   -   id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      #   -   id: name-tests-test
      - id: double-quote-string-fixer
      - id: requirements-txt-fixer
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies: [flake8-typing-imports==1.12.0]
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.6.0
    hooks:
      - id: reorder-python-imports
        args: [--py36-plus]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.1
    hooks:
      - id: add-trailing-comma
        args: [--py36-plus]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
      - id: setup-cfg-fmt
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: nb-check
        name: nb-check
        entry: resources/nb-check.py
        language: python
        files: \.ipynb$
        exclude: notebooks/notebook-style-guide/notebook.ipynb
        additional_dependencies: [nbformat==5.10.4]
      - id: nb-meta-check
        name: nb-meta-check
        entry: resources/nb-meta-check.py
        language: system
        files: notebooks/.*/meta\.toml
      - id: lesson-check
        name: lesson-check
        entry: resources/lesson-check.py
        language: system
        files: lessons/.*\.toml
      - id: author-check
        name: author-check
        entry: resources/author-check.py
        language: system
        files: authors/.*\.toml

Update the Free Starter Workspace nav label from Start to +
  notebooks/atlas-and-kai/notebook.ipynb
  notebooks/basic-query-examples/notebook.ipynb
  notebooks/building-a-multi-agent-ai-app-with-autogen/notebook.ipynb
  notebooks/cloud-functions-template/notebook.ipynb
  notebooks/create-dash-app/notebook.ipynb
  notebooks/getting-started-with-dataframes/notebook.ipynb
  notebooks/getting-started-with-notebooks/notebook.ipynb
  notebooks/getting-started-with-singlestore/notebook.ipynb
  notebooks/hybrid-full-text-vector-search/notebook.ipynb
  notebooks/hybrid-search/notebook.ipynb
  notebooks/image-matching-with-sql/notebook.ipynb
  notebooks/integrating-with-pandas/notebook.ipynb
  notebooks/load-csv-data-s3-placeholder/notebook.ipynb
  notebooks/load-csv-data-s3/notebook.ipynb
  notebooks/load-data-json/notebook.ipynb
  notebooks/load-data-kakfa/notebook.ipynb
  notebooks/migrate-virtual-workspace/notebook.ipynb
  notebooks/notebook-basics/notebook.ipynb
  notebooks/python-udf-template/notebook.ipynb
  notebooks/rag-with-bedrock/notebook.ipynb
  notebooks/real-time-recommendation-engine/notebook.ipynb
  notebooks/resume-evaluator-ANN-index-search/notebook.ipynb
  notebooks/resume-evaluator/notebook.ipynb
  notebooks/semantic-search-with-hugging-face/notebook.ipynb
  notebooks/semantic-search-with-openai-embedding-creation/notebook.ipynb
  notebooks/semantic-search-with-openai-qa/notebook.ipynb
  notebooks/semantic-visualization-and-vector-datatype/notebook.ipynb
  notebooks/similarity-search-on-vector-data/notebook.ipynb
  notebooks/singlestore-cheat-sheet/notebook.ipynb
  notebooks/working-with-vector-data/notebook.ipynb
  resources/nb-check.py
Due: nb-check

Redraw the architecture diagram to match the code
  notebooks/real-time-anomaly-detection/images/architecture.png
Due: none

Explain the French sensor labels, and display them in English
  notebooks/real-time-anomaly-detection/notebook.ipynb
Due: nb-check

Copy the slice before adding the embeddings column
  notebooks/real-time-anomaly-detection/notebook.ipynb
Due: nb-check

Give the opening paragraph its context
  notebooks/real-time-anomaly-detection/notebook.ipynb
Due: nb-check

Frame the lower diagram panel by what it is, not what it isn't
  notebooks/real-time-anomaly-detection/images/architecture.png
Due: none

Tighten the prose in real-time-anomaly-detection
  notebooks/real-time-anomaly-detection/notebook.ipynb
Due: nb-check

Explain the ending, and give the notebook a cleanup step
  notebooks/real-time-anomaly-detection/notebook.ipynb
Due: nb-check

Make the notebook run on a Free Starter Workspace, and explain pipelines
  notebooks/real-time-anomaly-detection/meta.toml
  notebooks/real-time-anomaly-detection/notebook.ipynb
Due: nb-check, nb-meta-check

precommitcheck
  notebooks/real-time-recommendation-engine/notebook.ipynb
Due: nb-check

Clear notebook cell outputs
  notebooks/real-time-recommendation-engine/notebook.ipynb
Due: nb-check

Clear all remaining notebook cell outputs
  notebooks/real-time-recommendation-engine/notebook.ipynb
Due: nb-check

refact: pre-commit checks
  notebooks/real-time-anomaly-detection/notebook.ipynb
Due: nb-check

feat: add walkthrough video embed to Confluent Cloud notebook
  notebooks/confluent-cloud-integration/notebook.ipynb
Due: nb-check

refact: remove iframe and move video below architecture diagram in Confluent notebook
  notebooks/confluent-cloud-integration/notebook.ipynb
Due: nb-check

Add build-modern-ai-and-search-applications notebook
  notebooks/build-modern-ai-and-search-applications/notebook.ipynb
Due: nb-check

Add build-modern-ai-and-search-applications notebook
  notebooks/build-modern-ai-and-search-applications/meta.toml
  notebooks/build-modern-ai-and-search-applications/notebook.ipynb
Due: nb-check, nb-meta-check

move madhukar avatar to codebase
  authors/madhukar-kumar.toml
  common/images/author-images/madhukar-kumar.png
Due: author-check

move referenced image in notebook
  notebooks/how-to-build-llm-apps-that-can-see-hear-speak/images/singlestore-llm-app.png
  notebooks/how-to-build-llm-apps-that-can-see-hear-speak/notebook.ipynb
Due: nb-check

Update notebook per review feedback
  notebooks/build-modern-ai-and-search-applications/notebook.ipynb
Due: nb-check

Fix Cursor Bug Bot finding
  notebooks/build-modern-ai-and-search-applications/notebook.ipynb
Due: nb-check

Update notebook and meta.toml per review feedback
  notebooks/build-modern-ai-and-search-applications/meta.toml
  notebooks/build-modern-ai-and-search-applications/notebook.ipynb
Due: nb-check, nb-meta-check

feat: idempotent optimized load, plotly live chart, video embed for tpch-100
  notebooks/optimize-performance-with-tpch-100/notebook.ipynb
Due: nb-check

fix: correct lineitem column order, clear stale output, safe chart restart
  notebooks/optimize-performance-with-tpch-100/notebook.ipynb
Due: nb-check

fix: replace sleep with event.wait(2) for deterministic thread stop on chart restart
  notebooks/optimize-performance-with-tpch-100/notebook.ipynb
Due: nb-check

Fix notebook formatting
  notebooks/build-modern-ai-and-search-applications/notebook.ipynb
Due: nb-check

Create Develop Safely with Database Branching
  notebooks/Develop Safely with Database Branching
Due: none

Delete notebooks/Develop Safely with Database Branching
  notebooks/Develop Safely with Database Branching
Due: none

Create notebook.ipynb
  notebooks/Develop Safely with Database Branching/notebook.ipynb
Due: nb-check

Create meta.toml
  notebooks/Develop Safely with Database Branching/meta.toml
Due: nb-meta-check

Update tags in meta.toml for clarity
  notebooks/Develop Safely with Database Branching/meta.toml
Due: nb-meta-check

Update tags to lowercase in meta.toml
  notebooks/Develop Safely with Database Branching/meta.toml
Due: nb-meta-check

Add files via upload
  notebooks/Develop Safely with Database Branching/Develop Safely with Database Branching.ipynb
Due: nb-check

Delete notebooks/Develop Safely with Database Branching/notebook.ipynb
  notebooks/Develop Safely with Database Branching/notebook.ipynb
Due: nb-check

Rename notebook file for clarity
  notebooks/Develop Safely with Database Branching/Develop Safely with Database Branching.ipynb
  notebooks/Develop Safely with Database Branching/notebook.ipynb
Due: nb-check

Change icon from 'data-management' to 'database'
  notebooks/Develop Safely with Database Branching/meta.toml
Due: nb-meta-check

Change difficulty level to lowercase 'beginner'
  notebooks/Develop Safely with Database Branching/meta.toml
Due: nb-meta-check

Update notebook.ipynb
  notebooks/Develop Safely with Database Branching/notebook.ipynb
Due: nb-check

fix: make nb-meta-check, lesson-check, author-check work on Python < 3.11
  .pre-commit-config.yaml
  resources/author-check.py
  resources/lesson-check.py
  resources/nb-meta-check.py
Due: none

feat: add marketing transactions sequences notebook
  notebooks/marketing-transactions-sequences/meta.toml
  notebooks/marketing-transactions-sequences/notebook.ipynb
Due: nb-check, nb-meta-check
